<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="ms-title ms-card">Skill Set</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <a href="" ng-click="addSkill()" class="btn btn-success" style="color:#fff;margin-bottom:10px">
                Add Skill
            </a>
        </div>
    </div>
    <!-- content -->
    <div class="row">
        <div class="col-lg-12">
            <div class="ms-card" ng-repeat="item in item.skills">
                <!-- more information -->
                <div class="row">
                    <div class="col-sm-12">
                        <h5 class="ms-subtitle">

                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="ms-field">
                            <span class="ms-field-title">Skill <sup>*</sup></span>
                            <input name="item.skillName" ng-model="item.skillName" data-ms class="ms-input" type="text"
                                ng-required="required">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="ms-field">
                            <span class="ms-field-title">% Competency<sup>*</sup></span>
                            <input name="item.skillPecentage" ng-model="item.skillPecentage" data-ms class="ms-input"
                                type="number" min="1" max="100" ng-required="required">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 ">
                        <a href="" ng-show="$index>=1" ng-click="removeSkill($index)" class="btn btn-xs btn-danger"
                            style="color: #fff">
                            <span class="fa fa-trash-o"></span>
                        </a>
                    </div>
                </div>

                <!-- company address -->


            </div>
        </div>
    </div>
</div>